# 익명함수(lambda function)

In [1]:
f = lambda x : x + 10 #람다함수로 간단히 사용가능지만, 복잡한 구문에 사용은 불가능

In [4]:
def func(x): # 복잡한 구문에는 풀어서 써야한다
    return x + 10

In [3]:
f(5), func(5)

(15, 15)

In [5]:
a = [1,3,5,7,9]
list(map(func,a))

[11, 13, 15, 17, 19]

In [6]:
list(map(f,a))

[11, 13, 15, 17, 19]

In [8]:
list(map(lambda x :x +10,a)) #람다함수 이런식으로 많이 쓰임

[11, 13, 15, 17, 19]

- 1에서 10까지 홀수 제곱의 리스트

In [10]:
sq_odd_list=[]
for i in range(1,11):
    if i %2 ==1:
        sq_odd_list.append(i*i)
sq_odd_list

[1, 9, 25, 49, 81]

In [14]:
# lambda 함수 간결함   
odd_list = list(range(1,11,2))
sq_odd_list = list(map(lambda x : x*x, odd_list))
sq_odd_list

[1, 9, 25, 49, 81]

In [18]:
#리스트 표현식 완전 간단
sq_odd_list2 = [i*i for i in range(1,11) if i%2 ==1]
sq_odd_list2

[1, 9, 25, 49, 81]

In [19]:
filtered_list = list(filter(lambda x : x>=3 and x<= 6, range(1,11)))
filtered_list

[3, 4, 5, 6]

In [20]:
list(filter(lambda x : x>=3 and x<= 6, range(1,11)))

[3, 4, 5, 6]

- 1에서 10까지 홀수면 string으로 변환, 짝수면 그대로

In [24]:
#람다함수 사용
list(map(lambda x : str(x) if x %2 ==1 else x, range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [25]:
def det(x):  #기본형 적용
    if x%2 ==1:
        return str(x)
    return x
list(map(det, range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [26]:
# 3항 연산 사용
def det2(x):
    return str(x) if x%2 ==1 else x
list(map(det2, range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [29]:
#리스트 표현식 if문이 앞에 나옴!!!!!!!!!!!!
sq_list3 = [str(i) if i %2 ==1 else i for i in range(1,11)]
sq_list3

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [31]:
int('123,000'.replace(',',''))

123000

In [34]:
price_str_list = ['142,000', '2,350,000', '123,000']
price_list = list(map(lambda x: int(x.replace(',','')), price_str_list))
price_list

[142000, 2350000, 123000]

In [35]:
# ctrl + d 를 누르면 같은 단어 한꺼번에 수정가능
[int(xxx.replace(',','')) for xxx in price_str_list]

[142000, 2350000, 123000]

# 예외처리

In [36]:
def ten_div(x):
    return 10/x

In [37]:
ten_div(0)

ZeroDivisionError: division by zero

In [39]:
try:   #통제 가능한 에러 만들기(프로그램 전체가 죽진 않음)
    ten_div(0)
except:
    print('Error 발생')

Error 발생

In [42]:
try:  
    a = [1,2,3]
    print(a[4])
except Exception as e:  #에러 내용이 통제 가능한 형태로 도시됨
    print(e)

list index out of range

In [45]:
x= int(input()) #error가 나는지 안나는지 확인 가능!!!
try:
    ten_div(x)
except Exception as e:  #에러 발생한경우
    print(e)
else:
    print('error 노발생')  #에러 발생하지 않은 경우
finally:
    print('try구문 끝') #두 경우 모두

division by zero
try구문 끝

# 클래스와 객체

In [56]:
class Calculator:
    def __init__(self, x, y):
        self.x=x
        self.y=y
    def add(self):
        return self.x + self.y
    def sub(self):
        return self.x - self.y
    def mul(self):
        return self.x * self.y
    def div(self):
        try:
            result = self.x/self.y
        except:
            result = '0으로 나눌 수 없음'
        return result

In [57]:
calc = Calculator(10, 5)

In [58]:
# 속성
calc.x, calc.y

(10, 5)

In [59]:
# 메소드
calc.add(), calc.sub(), calc.mul(), calc.div()

(15, 5, 50, 2.0)

In [60]:
calc.y=0
calc.div()

'0으로 나눌 수 없음'

In [61]:
class Tmoney:
    def __init__(self, balance):
        self.balance = balance
        self.fare = 1350
    def pay(self):
        if self.balance < self.fare:
            return('잔액 부족')
        self.balance -= self.fare
        return(f'요금 지불하고 {self.balance:,d}원 남았습니다')

In [62]:
card = Tmoney(5000)
for i in range(4):
    print(card.pay())

요금 지불하고 3,650원 남았습니다
요금 지불하고 2,300원 남았습니다
요금 지불하고 950원 남았습니다
잔액 부족

# 모듈 사용하기

In [66]:
import math
print(f'floor(7.2) = {math.floor(7.2)}')
print(f'ceil(7.2) = {math.ceil(7.2)}')

floor(7.2) = 7
ceil(7.2) = 8

In [67]:
# 모듈 이름을 약자로 사용
import math as m
m.floor(7.2), m.ceil(7.2)

(7, 8)

In [70]:
import numpy as np  #관례적으로 쓰는 약어들(de facto standard)
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [71]:
#모듈내의 함수를 직접 사용
from math import floor,ceil
floor(7.2), ceil(7.2)

(7, 8)

In [72]:
from sklearn.datasets import load_iris
iris = load_iris()

In [73]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### 내장모듈

In [74]:
import random
random.randint(1,6)

6

In [75]:
random.random()

0.09690419345773871

In [76]:
random.choice([1,3,5,7,9])

3

In [77]:
import datetime
datetime.datetime.today()

datetime.datetime(2021, 11, 24, 13, 56, 33, 783036)

In [78]:
datetime.date.today()

datetime.date(2021, 11, 24)

In [80]:
from datetime import date #이런 형태로 많이 사용
date.today()

datetime.date(2021, 11, 24)

In [83]:
from datetime import timedelta
forty_days = timedelta(days=40)
date.today() + forty_days

datetime.date(2022, 1, 3)

In [88]:
date.today() + timedelta(days=156)

datetime.date(2022, 4, 29)