# 22. 리스트와 튜플 활용

- 요소 추가

In [57]:
## .append 많이 쓰임 암기
# 뒤에 데이터를 추가하는 요소
a = [10,20,30]
a.append(40)
a

[10, 20, 30, 40]

In [58]:
#한번 적용할 때마다 계속 데이터 늘어남
a.insert(0, 50)
a

[50, 10, 20, 30, 40]

In [59]:
a.append([100,200])
a

[50, 10, 20, 30, 40, [100, 200]]

In [60]:
c = [1, 2, 3]
c.extend([30,40])
c

[1, 2, 3, 30, 40]

In [61]:
del a[2] #[]안의 인덱스 값을 삭제
a

[50, 10, 30, 40, [100, 200]]

In [62]:
a.pop() #끝의 데이터 삭제
a

[50, 10, 30, 40]

In [63]:
a.pop(-2) #()안의 인덱스 값을 삭제
a

[50, 10, 40]

In [64]:
for index, element in enumerate(a):  ##암기 각 인덱스에 무슨 값이 있는지
    print(f'index: {index}, value: {element}')

index: 0, value: 50
index: 1, value: 10
index: 2, value: 40

In [65]:
for i in range(len(a)):
    print(f'index: {i}, value:{a[i]}')

index: 0, value:50
index: 1, value:10
index: 2, value:40

In [66]:
value = 20
for index, element in enumerate(a):
    if element == value:
        break
print(index)

2

In [67]:
a = [10,20,30,15,20,40] #count 특정 데이터의 갯수
a.count(20)

2

In [68]:
a[::-1] #데이터 거꾸로 출력

[40, 20, 15, 30, 20, 10]

In [69]:
a.reverse
a

[10, 20, 30, 15, 20, 40]

- 정렬

In [70]:
a.sort() #오름차순 정렬(데이터 순서를 변화시킴)
a

[10, 15, 20, 20, 30, 40]

In [71]:
a.sort(reverse=True) #내림차순 정렬(데이터 순서를 변화시킴)
a

[40, 30, 20, 20, 15, 10]

In [72]:
a

[40, 30, 20, 20, 15, 10]

In [73]:
sorted(a) #sorted는 데이터 순서를 변화시키지 않고 순서확인 가능

[10, 15, 20, 20, 30, 40]

In [74]:
a

[40, 30, 20, 20, 15, 10]

- 리스트복사

In [75]:
a

[40, 30, 20, 20, 15, 10]

In [76]:
b=a ##side effect (원본 변화)를 일으킴

In [77]:
b[-1]=300
a

[40, 30, 20, 20, 15, 300]

In [78]:
a is b

True

In [79]:
a is not b

False

In [80]:
b = a.copy() #.copy method를 쓰면 원본 a는 그대로 유지
b[-1]=88
b

[40, 30, 20, 20, 15, 88]

In [81]:
a

[40, 30, 20, 20, 15, 300]

In [82]:
x = [[1,2,3],[4,5,6]]
y = x.copy()
y[1][2]=100
x

[[1, 2, 3], [4, 5, 100]]

In [84]:
import copy
x = [[1,2,3],[4,5,6]]
y= copy.deepcopy(x)
y[1][2]=100
x

[[1, 2, 3], [4, 5, 6]]

- 반복문과 리스트

In [88]:
a=[23,52,52,69,78] #리스트와 반복문 리스트 세로로 확인
for i in a:
    print(i)

23
52
52
69
78

- 인덱스와 요소를 동시에 엑세스

In [86]:
for index, value in enumerate(a):
    print(index, value)

0 23
1 52
2 52
3 69
4 78

In [87]:
car_brands=['bmw','밴츠','포드','혼다']
for index, car_brand in enumerate(car_brands):
    print(index, car_brand)

0 bmw
1 밴츠
2 포드
3 혼다

### 리스트의 최대값, 최소값, 합계구하기

In [89]:
a = [21,32,54,89,65] 
small = 10000000000
for element in a:
    if element < small:
        small = element
small

21

In [91]:
large = -1
for element in a:
    if element > large:
        large = element
large

89

In [95]:
min(a), max(a), sum(a) #간편하게 최소, 최대값, 합계

(21, 89, 261)

In [98]:
sum=0  #변수를 sum과 같은 함수이름으로 지정하지 말것
for i in a:
    sum +=i
sum

261

### 리스트 표현식(comprehension)

In [99]:
# 1에서 10까지 제곱수로 된 리스트를 만들어라
square_list=[]
for i in range(1,11):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [101]:
square_list=[i*i for i in range(1,11)]  #간단하게 제곱수 표현
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [104]:
odd_sq=[i*i for i in range(1,11) if i %2 ==1] #한줄로 홀수 제곱수 표현
odd_sq

[1, 9, 25, 49, 81]

In [1]:
# 3의 배수의 제곱수 리스트 암기!!
m, n = map(int, input().split())
sqr_3 = [i*i for i in range(m, n+1) if i%3==0]
sqr_3

[9, 36, 81, 144]

In [3]:
a = [i*k for i in range(1,11) \
                for k in range(2,12) if i*k >=50]
a

[50,
 55,
 54,
 60,
 66,
 56,
 63,
 70,
 77,
 56,
 64,
 72,
 80,
 88,
 54,
 63,
 72,
 81,
 90,
 99,
 50,
 60,
 70,
 80,
 90,
 100,
 110]

### map

In [8]:
a = [1.2,2.5,3.5,2.1]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 2]

In [11]:
a = [1.2,2.5,3.5,2.1]
for element in a:
    element = int(element)
    print(element, end='')
print()
a

1232

[1.2, 2.5, 3.5, 2.1]

In [12]:
list(map(int, a))

[1, 2, 3, 2]

In [13]:
def sq(x):
    return x*x

In [17]:
list(map(sq, a))  #list를 씌어야 데이터를 확인할 수 있음

[1.44, 6.25, 12.25, 4.41]

In [16]:
list(map(lambda x: x*x, a))

[1.44, 6.25, 12.25, 4.41]