# 2차원 리스트

In [8]:
a = [[12,20], [30,40], [50,60]]
a

[[12, 20], [30, 40], [50, 60]]

In [9]:
import numpy as np
b= np.arange(10,61,10).reshape(3,2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [11]:
import pandas as pd  #리스트를 행렬로 표현
df = pd.DataFrame(a)
df

    0   1
0  12  20
1  30  40
2  50  60

In [13]:
# 행렬의 indexing
a[1][1]

40

In [15]:
#제일 끝 데이터 인덱싱
a[-1][-1]

60

In [17]:
from pprint import pprint  #어려운 방법의 행렬구현
pprint(a, indent=4, width=20)

[   [12, 20],
    [30, 40],
    [50, 60]]

### 2차원 리스트와 반복문

In [18]:
for element in a:
    print(element)

[12, 20]
[30, 40]
[50, 60]

In [21]:
for sub in a:
    for element in sub:
        print(element)
    print()

12
20

30
40

50
60

In [25]:
len(a),len(a[0]) #a데이터의 개수, 첫번째 데이터의 개수

(3, 2)

In [29]:
for i in range(len(a)):
    for k in range(len(a[i])):
        print(a[i][k], end=' ')
    print()

12 20
30 40
50 60

In [31]:
for row in a:   ## 행렬만드는것 편한 코드로 외울 것
    for element in row:
        print(element, end=' ')
    print()

12 20
30 40
50 60

- for 반복문으로 2차원 리스트만들기

In [32]:
# 1차원
a = []
for i in range(5):
    a.append(i)
print(a)

[0, 1, 2, 3, 4]

In [39]:
# 2차원(3 x 4)   ## 이 방법이 많이 쓰이는 방법
two = []
for i in range(3):
    line = []
    for k in range(4):
        line.append(4*i+k)
    two.append(line)
two

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

In [40]:
for i in a:
    print(a[i])

0
1
2
3
4

In [41]:
for i in range(len(a)):
    print(a[i])

0
1
2
3
4

In [42]:
for i in a:
    print(i)

0
1
2
3
4

In [88]:
a, b = map(int, input().split())
c=[]
for i in range(a,b+1):
    import math
    c = print(int(math.pow(2,i)), end=' ')

4 8 16 32 64 128 256 512 1024

In [65]:
c = [1,3,4,5,6,7,8]
del c[1]; del c[-2]
c

[1, 4, 5, 6, 8]

In [95]:
a, b = map(int, input().split())
import math
odd_sq=[ int(math.pow(2,i)) for i in range(a,b+1)]
del odd_sq[1]; del odd_sq[-2]
odd_sq

[2, 8, 16, 32, 64, 128, 256, 1024]

In [101]:
[[[0] for j in range(3)] for i in range(3)]

[[[0], [0], [0]], [[0], [0], [0]], [[0], [0], [0]]]

In [119]:
col, row = map(int, input().split())
for i in range(row):
    matrix.append(input())
    print(matrix[-1])

.**
*..
.*.

In [121]:
import random
N =8
mines = []
for _ in range(N):   #사용하지 않는 변수를 쓸 때 _를 관례로 씀
    row = ''
    for _ in range(N):
        if random.random() > 0.7:
            row += '*'
        else:
            row += '.'
    mines.append(row)

for row in mines:
    for element in row:
        print(element, end=' ')
    print()

. * . * . * . *
. . * . . . * .
. . . . . . * .
* . . * * * . .
* * . * . * . .
. . * * . . . *
. * . * . . . .
. . . * . * . .

In [123]:
def print_mines(mat):
    for row in mat:
        for element in row:
            print(element, end=' ')
        print()
print_mines(mines)

. * . * . * . *
. . * . . . * .
. . . . . . * .
* . . * * * . .
* * . * . * . .
. . * * . . . *
. * . * . . . .
. . . * . * . .

In [129]:
pad_mines = []
pad_mines.append('.' * (N+2))
for row in mines:
    line = '.'
    for element in row:
        line += element
    line += '.'
    pad_mines.append(line)
pad_mines.append('.' * (N+2))
print_mines(pad_mines)

. . . . . . . . . .
. . * . * . * . * .
. . . * . . . * . .
. . . . . . . * . .
. * . . * * * . . .
. * * . * . * . . .
. . . * * . . . * .
. . * . * . . . . .
. . . . * . * . . .
. . . . . . . . . .

In [133]:
final_mines = []
for i in range(1, N+1):
    row = ''
    for k in range(1, N+1):
        if pad_mines[i][k] == '*':
            row += '*'
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]=='*') + \
                    (pad_mines[i][k-1]=='*') +                              (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            row += str(count)
    final_mines.append(row)
print_mines(final_mines)

1 * 3 * 2 * 3 *
1 2 * 2 2 3 * 3
1 2 2 3 3 4 * 2
* 3 3 * * * 3 1
* * 5 * 6 * 3 1
3 4 * * 4 1 2 *
1 * 5 * 4 1 2 1
1 1 3 * 3 * 1 0