# 문자열 응용

- 문자열 바꾸기

In [2]:
s = 'Hello. Python'
d = s.replace('Python', 'world')  #replace(바꾸는 것, 바꿀 것)
s, d

('Hello. Python', 'Hello. world')

In [6]:
#정규 표현식
import re
s = '안녕하세요? python 코딩강좌'
re.sub('[^가-힣]',' ',s)  #공백과 한글이 아닌 글자를 공백으로 변환

'안녕하세요         코딩강좌'

In [8]:
re.sub('[0-9A-Za-z]', '.', 'regular expression 999')

'....... .......... ...'

In [9]:
s = 'A-quick-brown-fox jumps-over-the-lazy-dog'  ## 코딩 좀 했다 싶은 예 문장
a = s.split('-') #각 단어별로 편집 원할 때
a

['A', 'quick', 'brown', 'fox jumps', 'over', 'the', 'lazy', 'dog']

In [11]:
' '.join(a) #join으로 문장 연결

'A quick brown fox jumps over the lazy dog'

In [13]:
'python'.upper(), 'PYTHON'.lower()  #대소문자 변환

('PYTHON', 'python')

In [15]:
s = '   python world     ' #띄어쓰기 제거
s.strip(), s.lstrip(), s.rstrip()

('python world', 'python world     ', '   python world')

In [16]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [18]:
',=python.!'.strip(string.punctuation)   ## 특수문자 제거

'python'

In [21]:
'apple'.find('le')

3

In [22]:
'apple'.index('le')

3

In [23]:
'apple pineapple'.count('apple')

2

- 문자열 포맷팅

In [24]:
s = 'python'
f'{s:10s}'

'python    '

In [31]:
d = 3
f'{d:4d}:{d:02d}' # 총 네자리 칸 차지 : 3을 두자리 숫자로 변형

'   3:03'

In [28]:
year, month , day = 2021, 3, 8
f'오늘은 {year}-{month:02d}-{day:02d}입니다'  #숫자를 2자리로 맞춰줌

'오늘은 2021-03-08입니다'

In [32]:
price = 36000
f'이 물건의 가격은 {price:10,d}원 입니다'  # 총 10칸 차지의 1000단위 구분 콤마 넣어서 변형

'이 물건의 가격은     36,000원 입니다'

In [34]:
import math
f'파이값은 {math.pi:.5f}입니다.' #소수점 이하 5자리 실수로 표현

'파이값은 3.14159입니다.'