In [16]:
a = 50; b = 60; c = None
print(a)
print(b)
print(c)

50
60
None

In [17]:
a = 50; b = 100; c = None
print(a)
print(b)
print(c)

50
100
None

In [19]:
a, b, c, d = map(int, input().split())
(a+b+c+d)/4

25.0

In [20]:
korean, english, mathematics, science = map(int, input().split())
(korean + english + mathematics + science) // 4

25

In [21]:
korean, english, mathematics, science = map(int, input().split())
print((korean + english + mathematics + science) // 4)

25

In [23]:
#복습주소 = https://dojang.io/mod/quiz/view.php?id=2183

In [26]:
print('Hello, world')

Hello, world

In [8]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-', end="T")
print(hour, minute, second, sep=':')

10-10-10T10:10:10

In [12]:
korean, english, mathematics, science = map(int, input().split())
print(korean >= 90 and english > 80 and mathematics > 85 and science >= 80)

False

In [25]:
s = """'Python' is a "programming language"
that lets you work quickly
and 
integrate systems more effectively."""

'\'Python\' is a "programming language"\nthat lets you work quickly\nand \nintegrate systems more effectively.'

In [39]:
step = int(input())
lux = tuple(range(-10, 10, step))
print(lux)

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [48]:
x = input().split()
del x[-5:]
print(tuple(x))

('1', '2', '3', '4', '5')

In [66]:
key = list(input().split())
values = list(map(float, input().split()))
a = dict(zip(key, values))
print(a)

{'1': 1.0, '2': 2.0, '3': 3.0}

In [82]:
dict(float=1, best=2)
x = {'얼음
':500, '불':600, '전기':900}
y = '얼음', '불', '전기'
z = 500,600,900
al=dict(zip(y,z))
print(al)

{'얼음': 500, '불': 600, '전기': 900}

In [85]:
x = list(map(int, input().split(",")))
del x[-2:]
print(x)

[1, 2, 3]

In [19]:
korean, english, mathematics, science = map(int, input().split())
if korean<0 or korean>100 or english<0 or english>100 or mathematics<0 or mathematics>100 or science<0 or science>100 :
    print('잘못된 점수')
else:
    if (korean + english + mathematics + science)/4 >= 80:
        print('합격')
    else:
        print('불합격')

합격

In [2]:
age = int(input())
balance = 9000
if age >= 19:
    balance = 9000-1250
elif 18 >= age >= 13:
    balance = 9000-1050
elif age >= 7:
    balance = 9000-650
print(balance)            ##:,d를 쓰면 1000단위 구분 쉼표 사용

7750

In [45]:
a = int(input())
for i in range(1,10):
    print(a,'*',i,'=',a*i)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

In [53]:
a = int(input())
while a>=1350:
    a-=1350
    print(a)

3650
2300
950

In [51]:
a = int(input())
for i in range(1, 100):
    print(a-i*1350)
    if (a-i*1350) <0:
        break

88650
87300
85950
84600
83250
81900
80550
79200
77850
76500
75150
73800
72450
71100
69750
68400
67050
65700
64350
63000
61650
60300
58950
57600
56250
54900
53550
52200
50850
49500
48150
46800
45450
44100
42750
41400
40050
38700
37350
36000
34650
33300
31950
30600
29250
27900
26550
25200
23850
22500
21150
19800
18450
17100
15750
14400
13050
11700
10350
9000
7650
6300
4950
3600
2250
900
-450

In [6]:
i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
    if i > 73:
        break
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63 73

In [7]:
start, stop = map(int, input().split())
i = start
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop :
        break
    print(i, end=' ')
    i += 1

150 151 152 154 155 156 157 158 159 160 161 162 164 165 166 167 168 169 170 171 172 174 175 176 177 178 179 180 181 182 184 185 186 187 188 189 190

In [3]:
for i in range(5):
    for j in range(5):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [6]:
for i in range(5):
    for j in range(5):
        if j <= i  :
            print('*', end='')
    print()

*
**
***
****
*****

In [6]:
a, b = map(int, input().split())
import math
odd_sq=[ int(2**i) for i in range(a,b+1)]
del odd_sq[1]; del odd_sq[-2]
print(odd_sq)

ValueError: not enough values to unpack (expected 2, got 0)

In [2]:
a = int(input())
if a% 400 ==0:
    print(f'{a}: 윤년')
elif a% 100 ==0:
    print(f'{a}: 윤년이 아님')
elif a% 4 ==0:
    print(f'{a}: 윤년')
else:
    print(f'{a}: 윤년이 아님')

2031: 윤년이 아님

In [13]:
year, month, day = map(int, input().split())
from datetime import date  ##datetime 은 시간까지 나옴, date는 날짜까지
today = date.today()
if month > today.month :
    age = today.year - year -1
elif month < today.month:
    age = today.year - year
else:
    if day > today.day:
        age = today.year - year-1
    else:
        age = today.year - year
print(f'생년월일이 {year}-{month}-{day}인 사람은 {age}살 입니다')

생년월일이 2015-2-25인 사람은 6살 입니다

In [15]:
flag = False  #flag를 많이 씀
for a in range(1,1001):
    for b in range(a+1,1001):
        c = 1000-b-a
        if c*c==a*a+b*b:
            print(a, b, c)
            flag = True
            break
    if flag:
        break

200 375 425

In [77]:
a=int(input())
if 5<=a<=9 and a%2==1 :
    for i in range(a-3):
        for k in range(a-4-i):
            print(' ', end='')
        for k in range(2*i+1):
            print('*', end='')
        print()
    for i in range(a-5,a-10,-1):
        for k in range(a-4-i):
            print(' ', end='')
        for k in range(2*i+1):
            print('*', end='')
        print()
else:
    print('5~9사이의 홀수만 입력하세요')

 *
***
 *

In [62]:
import datetime
a=datetime.datetime.now()
print(a)

2021-11-22 13:19:11.816030

In [82]:
a, b = map(int, input().split())
if b> a :
    c = {for i in range(a,b)}:
        i_count=c.count(str(i))
        print(i_count)
else:
    break

SyntaxError: invalid syntax (<ipython-input-82-280cfdd1bf43>, line 3)

In [83]:
year = int(input())
if year % 400 == 0 :
    print('윤년입니다')
elif year % 100 == 0:
    print('노 윤년')
elif year % 4 == 0 :
    print('윤년')
else:
    print('노 윤년')

노 윤년

In [93]:
year, month, day = map(int, input().split())
from datetime import date
today=date.today()
if month > today.month :
    age = today.year - year -1
elif month < today.month : 
    age = today.year - year
else:
    if day > today.day :
        age = today.year - year -1
    else :
        age = today.year - year
    
print(f'{age}살 입니다.')

6살 입니다.

datetime.date(2021, 11, 22)

In [126]:
N = int(input())
a=0
b=0
for i in range(1,N+1):
    a += i*i
for i in range(1,N+1):
    b += i
a-b

330

In [215]:
N = int(input())  #a-N
a=0
for i in range(1, N+1):   
    if N % i ==0:
        a += i
    elif N- (a-N) ==0 :
        print(i, end=' ')
    else :
        print('노 완전수')

노 완전수
노 완전수

In [231]:
N = int(input())  #a-N
a=[]
for i in range(1, N+1):   
    if N % i ==0:
        a.append(i)
sum(a)

TypeError: 'int' object is not callable

In [230]:
number = int(input("숫자를 입력하세요"))

for x in range(1, number + 1):
    sum_1 = 0
    for i in range(1, x):
        if x % i == 0:
            sum += i
    if sum_1 == x:
        print(sum_1)

In [249]:
N=int(input())
a=0
b=0
for i in range(1, N+1):
    a += i*i
for i in range(1, N+1):
    b += i
print(a-b)

40

In [204]:
a = input().split()
count =0
for b in a:
    if (b.strip(',.')=='the'):
        count+=1
print(count)

6

In [212]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))
 
del x['delta']
x={key:value for key, value in x.item() if value!=30}

print(x)

AttributeError: 'dict' object has no attribute 'item'

In [ ]:
for key, value in x.item():
    if value = 30:
        break
x.pop(key)
x

In [ ]:
x, y = map(int, input().split())
a = {i for i in range(1, x + 1) if x % i == 0}
b = {i for i in range(1, y + 1) if y % i == 0}

In [214]:
a = input().split()
count=0
for word in a :
    word = word.strip(',.').lower()
    if word == 'the':
        count +=1
print(count)

6